<app-main-menu [carro] = "carrito"></app-main-menu>
<div id="mainproductos">
	<div class="cabecera">
		<h2 class="titulo">Catálogo de productos</h2>
		<mat-form-field class="buscador">
    	<input matInput placeholder="¿Qué estás buscando?" [(ngModel)]="filtroProducto.producto">
  	</mat-form-field>
	</div>

	<div class="productos">
		<div class="items">
			<mat-card class="articulo" *ngFor="let item of articulos  | filterBy: filtroProducto">
				<img mat-card-sm-image src="/assets/{{item.imagen}}">
				<mat-card-content>
					<h4>{{item.producto}}</h4>
					<p>Precio: ${{item.precio}}</p>
					<p>Unidades disponibles: {{item.unidades}}</p>
				</mat-card-content>
				<mat-card-actions class="botones">
					<button mat-flat-button color= "primary" class="boton" (click)="MasInfo(item);"><mat-icon>add</mat-icon></button>
					<button mat-flat-button color= "warn" [disabled]="(item.unidades <= 0)" class="boton" (click)="agragarProductos(item);"><mat-icon>add_shopping_cart</mat-icon></button>
					<mat-form-field>
						<input matInput id="unidades" type="number" [value]="1" [disabled]="(item.unidades <= 0)" [(ngModel)]="cantComprar" min="0" max="{{item.unidades}}">
					</mat-form-field>
				</mat-card-actions>
			</mat-card>

    	<h3 *ngIf="(articulos | filterBy: filtroProducto).length === 0">
      	{{mensaje}}
    	</h3>
		</div>
	</div>
</div>
